@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --radius: 0.625rem;
  /* Tema claro */
  --background: #ffffff;
  --foreground: #252525;
  --card: #ffffff;
  --primary: #768cff;
  --primary-foreground: #ffffff;
  --secondary: #899cff;
  --secondary-foreground: #ffffff;
  --accent: #899cff;
  --accent-foreground: #ffffff;
  --sidebar-primary: #768cff;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #899cff;
  --sidebar-accent-foreground: #ffffff;
  --button-gradient: linear-gradient(90deg, #768cff 0%, #899cff 100%);
  --accent-foreground: #ffffff;
  --destructive: #ff4d4f;
  --border: #dbdbdb;
  --input: #dbdbdb;
  --ring: #899cff;
  --sidebar: #ffffff;
  --sidebar-foreground: #252525;
  --sidebar-primary: linear-gradient(90deg, #768cff 0%, #899cff 100%);
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: linear-gradient(90deg, #768cff 0%, #899cff 100%);
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #dbdbdb;
  --sidebar-ring: #899cff;
}

.dark {
  /* Tema escuro */
  --background: #252525;
  --foreground: #ffffff;
  --card: #252525;
  --primary: #768cff;
  --primary-foreground: #252525;
  --secondary: #899cff;
  --secondary-foreground: #252525;
  --accent: #899cff;
  --accent-foreground: #252525;
  --sidebar-primary: #768cff;
  --sidebar-primary-foreground: #252525;
  --sidebar-accent: #899cff;
  --sidebar-accent-foreground: #252525;
  --button-gradient: linear-gradient(90deg, #768cff 0%, #899cff 100%);
  --accent-foreground: #252525;
  --destructive: #ff4d4f;
  --border: #2b2b2b;
  --input: #2b2b2b;
  --ring: #899cff;
  --sidebar: #252525;
  --sidebar-foreground: #ffffff;
  --sidebar-primary: linear-gradient(90deg, #768cff 0%, #899cff 100%);
  --sidebar-primary-foreground: #252525;
  --sidebar-accent: linear-gradient(90deg, #768cff 0%, #899cff 100%);
  --sidebar-accent-foreground: #252525;
  --sidebar-border: #2b2b2b;
  --sidebar-ring: #899cff;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
